:root {
  --color-background: #1f172b;
  --color-background-shade: #1a1324;
  --color-foreground: #c7c7df;
  --color-accent: #f78c6c;
  --color-accent-shade: #cf765b;
  --border-color: #c7c7df16;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: MonoLisa, monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  height: 9.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.4rem;
  border-block-end: 1px solid var(--border-color);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 96rem;
  margin: 0 auto;
}

.logo {
  height: 6.4rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.logo__img {
  height: 72%;
}

.logo__text {
  font-weight: 700;
}

.hero {
  width: 100%;
  max-width: 102.4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
  margin-block-start: 4.8rem;
}

.hero__description {
  width: 80%;
}

.hero__description__title {
  margin-block-end: 1.6rem;
  text-align: center;
  text-shadow: 1.5px 1.5px 1px #f78c6c80;
  font-size: 3.6rem;
}

.hero__description__subtitle {
  width: 88%;
  margin: 0 auto;
  margin-block-end: 4rem;
  text-align: center;
  line-height: 160%;
  font-size: 1.8rem;
}

.hero__sample {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.hero__sample__img {
  width: 96%;
}

.hero__cta {
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin: 0 auto;
  text-decoration: none;
  width: 22.4rem;
  height: 4.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  border-radius: 5px;
  transition: all 0.4s;
}

.cta--main {
  background: var(--color-accent);
  color: var(--color-background);
}

.cta--ghost {
  border: 1px solid var(--color-accent);
  background: var(--color-background);
  color: var(--color-accent);
}

.cta:hover {
  background: var(--color-accent-shade);
}

.cta--ghost:hover {
  background: var(--color-background-shade);
  border-color: var(--color-background-shade);
}

.cta__text {
  line-height: 1;
  margin-block-start: 2px;
}

.footer {
  width: 100%;
  padding: 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-block-start: 1px solid var(--border-color);
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.footer__links li {
  height: fit-content;
  width: fit-content;
}

.footer__link {
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__credits {
  text-align: center;
  width: 88%;
  line-height: 160%;
}

@media screen and (min-width: 512px) {
  .hero__cta {
    flex-direction: row;
  }
}

@media screen and (min-width: 720px) {
  .hero {
    flex-direction: row;
    padding: 2.4rem 4rem 6.4rem 4rem;
  }

  .hero__description__title {
    font-size: 4.2rem;
  }

  .hero__description__subtitle {
    font-size: 2rem;
  }

  .hero__sample {
    margin-block-start: 3.2rem;
  }

  .hero__cta {
    flex-direction: column;
  }
}
